slurm_16571921.out filter=lfs diff=lfs merge=lfs -text
slurm_16624158.out filter=lfs diff=lfs merge=lfs -text
slurm_16807046.out filter=lfs diff=lfs merge=lfs -text
slurm_16813990.out filter=lfs diff=lfs merge=lfs -text
slurm_16825475.out filter=lfs diff=lfs merge=lfs -text
chk filter=lfs diff=lfs merge=lfs -text
